<?xml version="1.0"?>
<config>
    <modules>
        <Eke_Mouseflow>
            <version>0.1.0</version>
        </Eke_Mouseflow>
    </modules>
    <global>
        <models>
            <eke_mouseflow>
                <class>Eke_Mouseflow_Model</class>
                <resourceModel>eke_mouseflow_resource</resourceModel>
            </eke_mouseflow>
            <eke_mouseflow_resource>
                <class>Eke_Mouseflow_Model_Resource</class>
            </eke_mouseflow_resource>
        </models>
        <blocks>
            <eke_mouseflow>
                <class>Eke_Mouseflow_Block</class>
            </eke_mouseflow>
        </blocks>
        <helpers>
            <eke_mouseflow>
                <class>Eke_Mouseflow_Helper</class>
            </eke_mouseflow>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <eke_mouseflow>
                    <file>eke_mouseflow.xml</file>
                </eke_mouseflow>
            </updates>
        </layout>
    </frontend>
    <default>
        <eke_mouseflow>
            <tracker>
                <enabled>0</enabled>
            </tracker>
        </eke_mouseflow>
    </default>
</config>